 <!-- <p>task-details works!</p> -->

<!-- <div
  cdkDropList
  class="example-list"
  (cdkDropListDropped)="drop($event)"
  >
  <div
    class="example-box"
    *ngFor="let number of [1,2,3,4]"
    cdkDrag>{{number}}</div>
</div>  -->


<div class="root">
  <!-- <div class="navbar has-background-dark">
    <div class="navbar-brand">
      <div class="navbar-item">
        <h1 class="app-name has-gradient-text">Tasks</h1>
      </div>
    </div>
  </div> -->
  <div class="board" *ngIf="!noTasks">
    <div class="board-bar">
      <p class="board-name">Tasks</p>
    </div>
    <div class="board-wrapper">
      <div class="board-columns" cdkDropListGroup>
        <div class="board-column" *ngFor="let column of tasks">
          <div class="column-title">
            {{ column.name }}
          </div>
          <div class="tasks-container" cdkDropList [cdkDropListData]="column.tasks" (cdkDropListDropped)="drop($event, column.name)"> <!--[cdkDropListData]="column.tasks" -->
            <div class="task" *ngFor="let item of column.tasks" cdkDrag (click)="openDialog(item)">
              {{ item.title }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="board" *ngIf="noTasks">
    <h1>No tasks found.</h1>
  </div>
</div>