<h1>Technologies, tools, and techniques</h1>
<h3>
    • Front end: HTML, SCSS, Typescript, Angular<br/>
    • Backend: Node.js, Express.js, REST ful api’s<br/>
    • ORM: Sequelize<br/>
    • Database: PostgreSQL<br/>
    • Unit testing: Mocha, chai (JavaScript testing framework)<br/>
    • Methodology: Agile<br/>
    • Approach: TDD (Test driven development)<br/>
    • Deployment: AWS (Serverless compute, lambda functions)<br/>
    • Continues deployment: Jenkins<br/>
    • Source code editor: Visual studio code<br/>
    • Database tool: pgAdmin<br/>
    • Code repository: Bitbucket, Git<br/>
    • Api’s testing: Postman<br/>
</h3>