<div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">

    <div class="signup">
        <form [formGroup]="changePwdForm" autocomplete="off">
            <label>Change password</label>
            <input type="password" name="pswd" placeholder="Password" required="" formControlName="password" autocomplete="nope">
            <input type="password" name="pswd" placeholder="Confirm password" required="" formControlName="confirm_password" autocomplete="nope">
            <button (click)="changePassword()">Submit</button>
        </form>
    </div>
</div>