<div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">
    <div class="signup">
        <form>
            <label>Create Event</label>
            <input type="text" name="txt" placeholder="Title" required="" formControlName="title">
            <!-- <input placeholder="priority"> -->
            <select>
                <option>Event type</option>
                <option>Online</option>
                <option>Inperson</option>
            </select>
            <select>
                <option>Event access</option>
                <option>Public</option>
                <option>Private</option>
            </select>
            <img type="file">
            <input type="email" name="txt" placeholder="Assign to, enter email whom to assign" required=""
                formControlName="email">
            <input type="text" onfocus="(this.type='date')" name="txt" placeholder="Start date" required=""
                formControlName="startTime">
            <input type="text" onfocus="(this.type='date')" name="txt" placeholder="Finsih date" required=""
                formControlName="finsihTime">
            <input class="textarea" type="text" name="txt" placeholder="description" required=""
                formControlName="description">
            <button>Create</button>
        </form>
    </div>
</div>