<div class="main-container">
    <h2>Today public Events</h2>
    <div class="event-details-container">
        <h3 *ngIf="todayPublicEvents?.length===0">No events found</h3>
        <div class="evnt-dtl-card" *ngFor="let event of todayPublicEvents" (click)="eventPreview(event)">
            <!-- <img class="card-img-top"
            src="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:200/https://www.filepicker.io/api/file/SVFQZQAyRpqJ31f6LNGe"
            alt="Card image cap">  -->
            <div class="card-body">
                <h3 class="card-title">{{event.name}}</h3>
                <p class="time-stamp">StartTime: {{event.startDate.split('T')[0]}} {{event.startTime}}</p>
                <p class="time-stamp">EndTime: {{event.endDate?.split('T')[0]}} {{event?.endTime}}</p>
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>
    </div>
    <br>
    <h2>Today Private Events</h2>

    <div class="event-details-container">
        <h3 *ngIf="todayPriavateEvents?.length===0">No events found</h3>
        <div class="evnt-dtl-card" *ngFor="let event of todayPriavateEvents" (click)="eventPreview(event)">
            <!-- <img class="card-img-top"
            src="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:200/https://www.filepicker.io/api/file/SVFQZQAyRpqJ31f6LNGe"
            alt="Card image cap">  -->
            <div class="card-body">
                <h3 class="card-title">{{event.name}}</h3>
                <p class="time-stamp">StartTime: {{event.startDate.split('T')[0]}} {{event.startTime}}</p>
                <p class="time-stamp">EndTime: {{event.endDate?.split('T')[0]}} {{event?.endTime}}</p>
            </div>
        </div>
    </div>
</div>