<div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">

    <div class="signup">
        <form autocomplete="off" [formGroup]="pwdForm">
            <label>Forget password</label>
            <input type="email"  placeholder="Email" required="" formControlName="email" autocomplete="new-password">
            <input type="password" name="pwd" placeholder="Password" required=""
                formControlName="password" autocomplete="new-password">
            <input type="password" placeholder="Confirm password" required=""
                formControlName="confirm_password">
            <h3 (click)="backToLogin()">Back to login?</h3>
            <button (click)="forgetPassword()">submit</button>
        </form>
    </div>
</div>